@model IEnumerable<CloudClinic.Models.ViewModel.RoleViewModel>

@{
    ViewBag.Title = "Daftar Role";
}

<h2>Daftar Role</h2>
<hr />

<p>
    @Html.ActionLink("Create New", "AddRole")
</p>

<div id="targetShow">
    @Html.Partial("_PartialListRole", Model)
</div>

