@{
    ViewBag.Title = "SuccessPage";
}

<h2>Registrasi Berhasil</h2>

<div class="row">
    <div class="alert alert-success">
        Selamat anda berhasil melakukan registrasi, silahkan melakukan
        <a href="@Url.Action("Login")">Login</a> untuk masuk kedalam aplikasi.
    </div>
</div>
