
@{
    ViewBag.Title = "Sent";
}

<h2>Sent</h2>

<p>@ViewBag.Status</p>

<p>Anda telah melakukan reservasi! Silahkan cek kotak pesan masuk di email anda. Terima kasih... </p>

<p>Cek reservasi di profile and untuk melihat detail.. </p>