@model CloudClinic.Models.ViewModel.MessageBoxViewModel
<div class="@Model.AlertClass">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>@Model.TitleMessage</strong> @Model.MessageBody
</div>
