@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Website CloudClinic membantu klinik untuk melakukan reservasi secara online melalui browser.</p>
<p>CloudClinic dapat melakukan reservasi dengan USERNAME yang diberikan pada saat registrasi di klinik.</p>
