@{
    ViewBag.Title = "Tentang";
}

<script type='text/javascript'
        src='http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js'>
</script>
<script type="text/javascript">
    var imgs = [
        'Content/images/smile.jpg',
        'Content/images/dental.jpg',
        'Content/images/waluyo.gif',
        'Content/images/dentis.jpg',
        'Content/images/family.png'];
    var cnt = imgs.length;

    $(function () {
        setInterval(Slider, 5000);
    });

    function Slider() {
        $('#imageSlide').fadeOut("slow", function () {
            $(this).attr('src', imgs[(imgs.length++) % cnt]).fadeIn("slow");
        });
    }
</script>



<h2>@ViewBag.Title</h2>

<p>Website Cloudental membantu klinik gigi Waluyo untuk melakukan reservasi secara online melalui browser.</p>
<p>Cloudental dapat melakukan reservasi dengan USERNAME yang diberikan pada saat registrasi di klinik.</p>
<p>Cloudental mempunyai dokter gigi untuk menindak langsung pasien yang berobat di klinik gigi Waluyo.</p>
<br />
<br />
<div>
    <img id="imageSlide" alt="" src="" />
</div>

