@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Website CloudClinic membantu klinik untuk melakukan reservasi secara online melalui browser.</p>
<p>CloudClinic dapat melakukan reservasi dengan USERNAME yang diberikan pada saat registrasi di klinik.</p>
<p>CloudClinic bekerja sama dengan klinik dokter pribadi untuk membuat sebuah sistem informasi yang mendukung alur bisnis di klinik ini.
    Setiap klinik mempunyai banyak dokter dan pasien maka dari itu sistem ini akan memberikan batasan kepada pengguna untuk menggunakan sistem dengan baik.</p>
